<div class="jumbotron">
    <h1>KKN API</h1>
    <p class="lead">This site is proprietary and confidential property of KKN.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>API Online Documentation</h2>
        <p>Please try the Swagger link for the most in-depth definitions of all API methods.</p>
        <p><a class="btn btn-default" href="/swagger" target="_blank">Click Here &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Swagger 2.0 Spec</h2>
        <p>The full Swagger spec for this api is available for download.</p>
        <p><a class="btn btn-default" href="swagger/docs/v1" target="_blank">Download Here &raquo;</a></p>
    </div>
</div>